<div class="modal-header ">
    <h3 class="modal-title">Update Item #{{item._id}}</h3>
</div>
<div class="modal-body row">
    <form >

        <div class="form-group" smurf-allow="permission.update.name">
            <label for="itemName" class="col-sm-4 control-label">Name:</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="itemName" ng-model="item.name">
            </div>
        </div>

        <div class="form-group" smurf-allow="permission.update.discountPercentage">
            <label for="itemDiscountPercentage" class="col-sm-4 control-label">Discount percentage:</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="itemDiscountPercentage" ng-model="item.discount.percentage">
            </div>
        </div>
        <div class="form-group" smurf-allow="permission.update.discountValue">
            <label for="itemDiscountValue" class="col-sm-4 control-label">Discount value:</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="itemDiscountValue" ng-model="item.discount.value">
            </div>
        </div>

        <div class="form-group" smurf-allow="permission.update.unitName">
            <label for="itemUnitName" class="col-sm-4 control-label">Unit name:</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="itemUnitName" ng-model="item.unit.name">
            </div>
        </div>

        <div class="form-group" smurf-allow="permission.update.pricePerUnit">
            <label for="itemUnitPrice" class="col-sm-4 control-label">Price per unit:</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="itemUnitPrice" ng-model="item.unit.price">
            </div>
        </div>

        <div class="form-group" smurf-allow="permission.update.quantity">
            <label for="itemQuantity" class="col-sm-4 control-label">Quantity:</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="itemQuantity" ng-model="item.quantity">
            </div>
        </div>

        <div class="form-group" smurf-allow="permission.update.taxes">
            <label for="itemTaxes" class="col-sm-4 control-label">Taxes:</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="itemTaxes" ng-model="item.taxes">
            </div>
        </div>

        <div class="form-group" smurf-allow="permission.update.price">
            <label for="itemTotalPrice" class="col-sm-4 control-label">Total price:</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="itemTotalPrice" ng-model="item.total_price">
            </div>
        </div>

        <div class="form-group" smurf-allow="permission.update.priceWithDiscount">
            <label for="itemDiscountPrice" class="col-sm-4 control-label">Price with discount:</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="itemDiscountPrice" ng-model="item.price_with_discount">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="update()">Save</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>