<div class="modal-header alert-danger">
    <h3 class="modal-title">Do you really want to delete this item?</h3>
</div>
<div class="modal-body ">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td class='tright'><strong>ID</strong></td>
                <td class="tcenter">{{item._id}}</td>
            </tr>
            <tr>
                <td class='tright'><strong>Name</strong></td>
                <td class="tcenter">{{item.name}}</td>
            </tr>
            <tr>
                <td class='tright'><strong>Discount percentage</strong></td>
                <td class="tcenter">{{item.discount.percentage}}%</td>
            </tr>
            <tr>
                <td class='tright'><strong>Discount amount</strong></td>
                <td class="tcenter">{{item.discount.value}}</td>
            </tr>
            <tr>
                <td class='tright'><strong>Price with discount</strong></td>
                <td class="tcenter">{{item.price_with_discount}}</td>
            </tr>
            <tr>
                <td class='tright'><strong>Unit name</strong></td>
                <td class="tcenter">{{item.unit.name}}</td>
            </tr>
            <tr>
                <td class='tright'><strong>Price per unit</strong></td>
                <td class="tcenter">{{item.unit.price}}</td>
            </tr>
            <tr>
                <td class='tright'><strong>Quantity</strong></td>
                <td class="tcenter">{{item.quantity}}</td>
            </tr>
            <tr>
                <td class='tright'><strong>Taxes</strong></td>
                <td class="tcenter">{{item.taxes}}</td>
            </tr>
            <tr>
                <td class='tright'><strong>Total price</strong></td>
                <td class="tcenter">{{item.total_price}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="yes()">Yes</button>
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>