<h1 class="page-header panel-primary">Invoices</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Supplier name</th>
        <th>Supplier address</th>
        <th>Supplier pib</th>
        <th>Billing date</th>
        <th>Billing No.</th>
        <th>Currency</th>
        <th>Amount to pay</th>
        <th>Billing account number</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="invoice in invoices">
        <td>{{invoice._id}}</td>
        <td>{{invoice.invoice_header.supplier.name}}</td>
        <td>{{invoice.invoice_header.supplier.address}}</td>
        <td>{{invoice.invoice_header.supplier.pib}}</td>
        <td>{{invoice.invoice_header.bill._date}}</td>
        <td>{{invoice.invoice_header.bill.__text}}</td>
        <td>{{invoice.invoice_header.payment.currency.__text}}</td>
        <td>{{invoice.invoice_header.payment.amount}}</td>
        <td>{{invoice.invoice_header.payment.account_number}}</td>
        <td><a href="#/invoice/{{invoice._id}}"><button class="btn btn-primary">Details</button></a></td>
    </tr>
    </tbody>
</table>